.footer {
  background-color: #356091;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-radius: 10px;
}

.footer p {
  margin: 5px 0;
}
